.git
.github
.vs
.vscode
.idea

**/bin
**/obj
**/TestResults

.dotnet
.dotnet-home
.tmp
.tmpbuild
.tmpobj
artifacts

node_modules
npm-debug.log
yarn-error.log

*.user
*.suo
*.cache
*.db
*.sqlite
*.mdf
*.ldf

Dockerfile*
!Dockerfile
